/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#spotify {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.main-header {
    padding: 10px 20px 8px;
    display: flex;
    align-items: center;
    background: #2f3a46;
}

.main-header img {
    height: 50px;
}

/* MAIN */

.filter {
    margin-top: 50px;
    color: #fff;
    text-align: center;
    font-size: 22px;
}

.filter select {
    min-width: 100px;
    margin-left: 5px;
    color: #fff;
    background: none;
    font-size: 18px;
    border: none;
    border-bottom: solid 2px #fff;
    outline: none;
}

.main-section {
    flex-grow: 1;
    background: #1f2d3b;
}

.cds-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}

.cd {
    flex-basis: 200px;
    min-height: 400px;
    margin: 10px 20px;
    padding: 20px;
    background: #2f3a46;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 350ms,
                border-radius 250ms;
}

.cd:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 15px;
}

.cd .image {
    display: flex;
    min-height: 170px;
    justify-content: center;
    align-items: center;
}

.cd .image img {
    width: 100%;
}

.cd .title {
    font-size: 22px;
    padding: 20px 0;
    text-transform: uppercase;
}

.cd .artist,
.cd .year {
    color: #808080;
}
.cd .artist {
    font-size: 18px;
}

.cd .year {
    margin: 10px 0 20px;
    font-size: 15px;
}

.cd .genre {
    font-size: 14px;
}

/* LOADING */

.loading {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 43px;
}