<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify</title>
    <!-- ICON -->
    <link rel="icon" href="./img/logo.png">
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet"> 
    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

    <div id="spotify">
        <header class="main-header">
            <img src="./img/logo.png" alt="Spotify">
        </header>
        <main class="main-section">
            <div class="filter">
                <span> Filter by genre: </span> 
                <select v-model="selected" @change="genreSelected">
                    <option v-for="option in options" :value="option">{{option}}</option>
                </select>
            </div>
            <div class="cds-container"
                v-if="loaded"
                >

                <div class="cd"
                    v-for="cd in cds" 
   
                    >
                    <div class="image">
                        <img :src="cd.poster" :alt="cd.title">
                    </div>
                    <h3 class="title"> {{ cd.title }} </h3>
                    <div class="artist"> {{ cd.author }} </div>
                    <div class="year"> {{ cd.year }} </div>
                    <div class="genre"> {{ cd.genre }} </div>
                </div>

            </div>

            <div class="loading"
                v-else
                >
                LOADING...
            </div>
        </main>

    </div>
    <!-- AXIOS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- MAIN JS -->
    <script src="./js/main.js"></script>
</body>
</html>